.ink{
    position: absolute;
    display: block;
    background: $pColorDark;
    transform: scale(0);
    @include border-radius(100%);
    &.animate{
        animation: ripple 0.45s linear;
    }
}

@keyframes ripple {
    /*scale the element to 250% to safely cover the entire link and fade it out*/
    95% {opacity: 0; transform: scale(2.5);}
    96% {opacity: 0; transform: scale(0);}
    100%{opacity: 1; transform: scale(0);}
}

.flatButton{
    border: none;
    background: #FF4081;
    color: #FFFFFF!important;
    padding: 5px 8px;
    font-size: 16px;
    cursor: pointer;
}