//////////////////////
// RED PALETTE
//////////////////////

$rd050: #FFEBEE;
$rd100: #FFCDD2;
$rd200: #EF9A9A;
$rd300: #E57373;
$rd400: #EF5350;
$rd500: #F44336;
$rd600: #E53935;
$rd700: #D32F2F;
$rd800: #C62828;
$rd900: #B71C1C;
$rdA100: #FF8A80;
$rdA200: #FF5252;
$rdA400: #FF1744;
$rdA700: #D50000;

//////////////////////
// PINK PALETTE
//////////////////////

$pk050: #FCE4EC;
$pk100: #F8BBD0;
$pk200: #F48FB1;
$pk300: #F06292;
$pk400: #EC407A;
$pk500: #E91E63;
$pk600: #D81B60;
$pk700: #C2185B;
$pk800: #AD1457;
$pk900: #880E4F;
$pkA100: #FF80AB;
$pkA200: #FF4081;
$pkA400: #F50057;
$pkA700: #C51162;

//////////////////////
// PURPLE PALETTE
//////////////////////

$pp050: #F3E5F5;
$pp100: #E1BEE7;
$pp200: #CE93D8;
$pp300: #BA68C8;
$pp400: #AB47BC;
$pp500: #9C27B0;
$pp600: #8E24AA;
$pp700: #7B1FA2;
$pp800: #6A1B9A;
$pp900: #4A148C;
$ppA100: #EA80FC;
$ppA200: #E040FB;
$ppA400: #D500F9;
$ppA700: #AA00FF;

//////////////////////
// DEEP PURPLE PALETTE
//////////////////////

$dpp050: #EDE7F6;
$dpp100: #D1C4E9;
$dpp200: #B39DDB;
$dpp300: #9575CD;
$dpp400: #7E57C2;
$dpp500: #673AB7;
$dpp600: #5E35B1;
$dpp700: #512DA8;
$dpp800: #4527A0;
$dpp900: #311B92;
$dppA100: #B388FF;
$dppA200: #7C4DFF;
$dppA400: #651FFF;
$dppA700: #6200EA;

//////////////////////
// INDIGO PALETTE
//////////////////////

$in050: #EDE7F6;
$in100: #D1C4E9;
$in200: #B39DDB;
$in300: #9575CD;
$in400: #7E57C2;
$in500: #673AB7;
$in600: #5E35B1;
$in700: #512DA8;
$in800: #4527A0;
$in900: #311B92;
$inA100: #B388FF;
$inA200: #7C4DFF;
$inA400: #651FFF;
$inA700: #6200EA;

//////////////////////
// BLUE PALETTE
//////////////////////

$bl050: #E8EAF6;
$bl100: #C5CAE9;
$bl200: #9FA8DA;
$bl300: #7986CB;
$bl400: #5C6BC0;
$bl500: #3F51B5;
$bl600: #3949AB;
$bl700: #303F9F;
$bl800: #283593;
$bl900: #1A237E;
$blA100: #8C9EFF;
$blA200: #536DFE;
$blA400: #3D5AFE;
$blA700: #304FFE;

//////////////////////
// LIGHT BLUE PALETTE
//////////////////////

$lbl050: #E1F5FE;
$lbl100: #B3E5FC;
$lbl200: #81D4FA;
$lbl300: #4FC3F7;
$lbl400: #29B6F6;
$lbl500: #03A9F4;
$lbl600: #039BE5;
$lbl700: #0288D1;
$lbl800: #0277BD;
$lbl900: #01579B;
$lblA100: #80D8FF;
$lblA200: #40C4FF;
$lblA400: #00B0FF;
$lblA700: #0091EA;

//////////////////////
// CYAN PALETTE
//////////////////////

$cy050: #E0F7FA;
$cy100: #B2EBF2;
$cy200: #80DEEA;
$cy300: #4DD0E1;
$cy400: #26C6DA;
$cy500: #00BCD4;
$cy600: #00ACC1;
$cy700: #0097A7;
$cy800: #00838F;
$cy900: #006064;
$cyA100: #84FFFF;
$cyA200: #18FFFF;
$cyA400: #00E5FF;
$cyA700: #00B8D4;

//////////////////////
// TEAL PALETTE
//////////////////////

$tl050: #E0F2F1;
$tl100: #B2DFDB;
$tl200: #80CBC4;
$tl300: #4DB6AC;
$tl400: #26A69A;
$tl500: #009688;
$tl600: #00897B;
$tl700: #00796B;
$tl800: #00695C;
$tl900: #004D40;
$tlA100: #A7FFEB;
$tlA200: #64FFDA;
$tlA400: #1DE9B6;
$tlA700: #00BFA5;

//////////////////////
// GREEN PALETTE
//////////////////////

$gr050: #E8F5E9;
$gr100: #C8E6C9;
$gr200: #A5D6A7;
$gr300: #81C784;
$gr400: #66BB6A;
$gr500: #4CAF50;
$gr600: #43A047;
$gr700: #388E3C;
$gr800: #2E7D32;
$gr900: #1B5E20;
$grA100: #B9F6CA;
$grA200: #69F0AE;
$grA400: #00E676;
$grA700: #00C853;

//////////////////////
// LIGHT GREEN PALETTE
//////////////////////

$lgr050: #F1F8E9;
$lgr100: #DCEDC8;
$lgr200: #C5E1A5;
$lgr300: #AED581;
$lgr400: #9CCC65;
$lgr500: #8BC34A;
$lgr600: #7CB342;
$lgr700: #689F38;
$lgr800: #558B2F;
$lgr900: #33691E;
$lgrA100: #CCFF90;
$lgrA200: #B2FF59;
$lgrA400: #76FF03;
$lgrA700: #64DD17;

//////////////////////
// LIME PALETTE
//////////////////////

$lm050: #F9FBE7;
$lm100: #F0F4C3;
$lm200: #E6EE9C;
$lm300: #DCE775;
$lm400: #D4E157;
$lm500: #CDDC39;
$lm600: #C0CA33;
$lm700: #AFB42B;
$lm800: #9E9D24;
$lm900: #827717;
$lmA100: #F4FF81;
$lmA200: #EEFF41;
$lmA400: #C6FF00;
$lmA700: #AEEA00;

//////////////////////
// YELLOW PALETTE
//////////////////////

$yl050: #FFFDE7;
$yl100: #FFF9C4;
$yl200: #FFF59D;
$yl300: #FFF176;
$yl400: #FFEE58;
$yl500: #FFEB3B;
$yl600: #FDD835;
$yl700: #FBC02D;
$yl800: #F9A825;
$yl900: #F57F17;
$ylA100: #FFFF8D;
$ylA200: #FFFF00;
$ylA400: #FFEA00;
$ylA700: #FFD600;

//////////////////////
// AMBER PALETTE
//////////////////////

$am050: #FFF8E1;
$am100: #FFECB3;
$am200: #FFE082;
$am300: #FFD54F;
$am400: #FFCA28;
$am500: #FFC107;
$am600: #FFB300;
$am700: #FFA000;
$am800: #FF8F00;
$am900: #FF6F00;
$amA100: #FFE57F;
$amA200: #FFD740;
$amA400: #FFC400;
$amA700: #FFAB00;

//////////////////////
// ORANGE PALETTE
//////////////////////

$or050: #FFF3E0;
$or100: #FFE0B2;
$or200: #FFCC80;
$or300: #FFB74D;
$or400: #FFA726;
$or500: #FF9800;
$or600: #FB8C00;
$or700: #F57C00;
$or800: #EF6C00;
$or900: #E65100;
$orA100: #FFD180;
$orA200: #FFAB40;
$orA400: #FF9100;
$orA700: #FF6D00;

//////////////////////
// DEEP ORANGE PALETTE
//////////////////////

$do050: #FBE9E7;
$do100: #FFCCBC;
$do200: #FFAB91;
$do300: #FF8A65;
$do400: #FF7043;
$do500: #FF5722;
$do600: #F4511E;
$do700: #E64A19;
$do800: #D84315;
$do900: #BF360C;
$doA100: #FF9E80;
$doA200: #FF6E40;
$doA400: #FF3D00;
$doA700: #DD2C00;

//////////////////////
// BROWN PALETTE
//////////////////////

$br050: #EFEBE9;
$br100: #D7CCC8;
$br200: #BCAAA4;
$br300: #A1887F;
$br400: #8D6E63;
$br500: #795548;
$br600: #6D4C41;
$br700: #5D4037;
$br800: #4E342E;
$br900: #3E2723;

//////////////////////
// GREY PALETTE
//////////////////////

$gy050: #FAFAFA;
$gy100: #F5F5F5;
$gy200: #EEEEEE;
$gy300: #E0E0E0;
$gy400: #BDBDBD;
$gy500: #9E9E9E;
$gy600: #757575;
$gy700: #616161;
$gy800: #424242;
$gy900: #212121;

//////////////////////
// BLUE GREY PALETTE
//////////////////////

$bg050: #ECEFF1;
$bg100: #CFD8DC;
$bg200: #B0BEC5;
$bg300: #90A4AE;
$bg400: #78909C;
$bg500: #607D8B;
$bg600: #546E7A;
$bg700: #455A64;
$bg800: #37474F;
$bg900: #263238;

$white: #FFFFFF;
$black: #000000;
