$icon-up_arrow: "\e900";
$icon-mail: "\e901";
$icon-google-plus: "\e907";
$icon-facebook: "\e908";
$icon-instagram: "\e909";
$icon-twitter: "\e90a";
$icon-github: "\e90b";
$icon-linkedin: "\e90c";
$icon-codepen: "\e90d";
