
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';
@import 'main/mDesign/_colors.scss';
@import 'main/_variables.scss';
@import 'main/mDesign/_mixins.scss';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'main/_variables.scss';
@import 'main/fonts/icomoon/variables.scss';
@import 'main/mDesign/_buttons.scss';
@import 'main/mDesign/_colors.scss';
@import 'main/mDesign/_flexbox.scss';
@import 'main/mDesign/_forms.scss';
@import 'main/mDesign/_mixins.scss';
@import 'main/mDesign/_panels.scss';
@import 'main/mDesign/_reset.scss';
@import 'main/mDesign/_texts.scss';
@import 'main/main.scss';
// endinjector