<header id="header">
  <!-- <div>
    <h1 ><span class="reverseText longShadowInverse">R</span><span class="longShadow">aúlGM</span></h1>
    <h2 ><span class="longShadow">Front-End developer</span></h2>
  </div> -->
  <nav ng-controller="navController as nav">
    <ul>
      <li ng-repeat="option in nav.options track by $index" ng-mouseup="nav.launchAnimation($event)" ng-click="nav.prepareAnimation($event, $index)">
        <div ng-class="class_name" class="ink" style="top:{{top}}px; left:{{left}}px; width:{{width}}px; height:{{height}}px"></div>
        {{option.name}}
        <p class="optUnderline"></p>
      </li>
    </ul>
  </nav>
</header><!-- /header -->
<section class="main">
  <article id="container0" class="card big hide">
    <div class="title">
      <h1>¿Quién soy?</h1>
    </div>
    <div class="body">
      <p><strong>Hello world!</strong> Soy un programador especializado en el desarrollo y maquetación web con más de 10 años como profesional (aunque llevo desde los 14 años cacharreando con mis proyectos personales). A parte del mundo web, tengo experiencia como desarrollador de aplicaciones Android.</p>
      <p>Inquieto, proactivo, amante de la música, repostero en mis tiempos libres, UX ninja y padre un tanto freak.</p>
    </div>
  </article>
  <article id="container1" class="card big hide" ng-controller="pfController as pf">
    <div class="title">
      <h1>Portfolio</h1>
    </div>
    <div class="body">
      <article class="card small clickable" ng-repeat="project in pf.portfolio track by $index" >
        <div class="title" ng-click="pf.goToWeb($index)">
          <h1>{{project.title}}</h1>
        </div>
        <div class="body" ng-click="pf.goToWeb($index)">
          <img src="{{project.image}}">
        </div>
        <div class="etc">
          <p><span id="cardEtc" ng-click="pf.openEtc($index)">...</span></p>
          <div class="body">
            <p>{{project.text}}</p>
          </div>
        </div>
      </article>
    </div>
  </article>
  <article id="container2" class="card big hide">
    <div class="form" >
      <p>Escríbeme!</p>
      <div ng-init="focus=false" class="text1" ng-class="{focus: txtNameFocus, active: addClassName.length}" for="txtName">
        <input ng-focus="txtNameFocus=true;" ng-model="addClassName" ng-blur="txtNameFocus=false" type="text" id="txtName" name="txtName">
        <label>Nombre *</label>
      </div>
      <div ng-init="focus=false" class="text1" ng-class="{focus: txtEmailFocus, active: addClassEmail.length}" for="txtEmail">
        <input ng-focus="txtEmailFocus=true;" ng-model="addClassEmail" ng-blur="txtEmailFocus=false" type="text" id="txtEmail" name="txtEmail">
        <label>Correo *</label>
      </div>
      <div ng-init="focus=false" class="textarea1" ng-class="{focus: txtTextFocus, active: addClassText.length}" for="txtText">
        <textarea ng-focus="txtTextFocus=true;" ng-model="addClassText" ng-blur="txtTextFocus=false" type="text" id="txtText" name="txtText"/>
        <label>Texto *</label>
      </div>
      <div ng-controller="btnController">
        <a class="flatButton" ng-mouseup="btnController.launchAnimation($event)" ng-click="btnController.prepareAnimation($event, $index)" href="">Enviar</a>
      </div>
    </div>
  </article>
</section>
<footer>
  
</footer>
<!-- <div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
 -->