html,
body,
body > .ng-scope:first-child{
	width: 100%;
	height:100%;
	overflow: hidden;
	font-family: $fntMain;
}
section{
	background-image: url("../assets/images/background.jpg");
	background-size: 100%;
    background-color: $acolor;
    @include calc(height, 100% - #{$szHeader});
    overflow: auto;
    position: relative;
}
header{

	background-color: $pColor;
	height: $szHeader;
	position: relative;
	overflow: hidden;
	@include flexbox;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
	@include box-2-shadow(0px 4px 6px rgba(0, 0, 0, 0.16), 0px 5px 6px rgba(0, 0, 0, 0.23));
	z-index: 100;
	div{
		@include flexbox;
		@include flex-direction(column);
		@include justify-content(center);
		@include flex(0 0 150px);
		font-family: fntTitle;
		h1{
			text-align: center;
		    .longShadow{ @include long_shadow($pColorText, $pColorDark, 40px, 110, 0%); }
		    .longShadowInverse{ @include long_shadow_inverse($pColorText, $pColorDark, 40px, 110, 0%); }
		}
		h2{
			text-align: center;
		    .longShadow{ @include long_shadow($pColorText, $pColorDark, 24px, 60, 5%); }
		    .longShadowInverse{ @include long_shadow_inverse($pColorText, $pColorDark, 24px, 60, 5%); }
		}
	}

	nav{
		@include flex(0 1 $szNav);
		@include align-self(flex-end);
		width: 100%;
		z-index: 100;
		ul{
			height: $szNav;
			color: $pColorLight;
			background: $pColorDark;
			@include flexbox;
			@include flex-direction(row);
			@include justify-content(center);
			@include align-items(center);
			li{
				@include flex(0 1 auto);
				height: 100%;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				line-height: $szNav;
				padding: 0 14px;
				&:hover{
			        @include transition(0.45s linear);
			        background: $pColorAlpha1;
			    }
			    .optUnderline{
			    	left: -5px;
			    	height: 4px;
			    	background: $pColorLight;
			    	width: 0%;
			    	position: relative;
			    	top: -4px;
			    	@include transition(0.25s linear);
			    }
			    &.active{
			    	.optUnderline{ @include calc(width, '100% + 10px'); }
			    }
			}
		}
	}
}

.card{
	&.big{
		@include calc(width, "100% - #{$mrgCardHor*2}");
		margin: 0 0 $mrgCardVer $mrgCardHor;
		top: $mrgCardVer;
		visibility: visible;
		position: absolute;
		z-index: 0;
		opacity: 1;
		background: $pColorText;
		&.hide{
			top: -300px;
			opacity: 0;
			visibility: hidden;
		}
		.title{
			background: $pColor;
			color: $pColorText;
			h1{ margin: $mrgVer $mrgHor; }
		}
		.body{
			@include flexbox;
			@include flex-direction(row);
			@include justify-content(center);
			@include flex-wrap(wrap);
		}
		.small{ margin: $mrgVer; }
	}
	&.small{
		@include calc(width, "100px - #{$mrgCardHor*2}");
		height: $crdSmallHeight;
		.title{
			font-size: 16px;
			background: $pColorDark;
			color: $pColorText;
			h1{ margin: $mrgVer/2 $mrgHor/2; }
		}
		.body{ font-size: 14px; }
		img{ 
			width: 100%;
			height: 100%;
		}
		.etc{
			top: 0px;
			min-height: $crdSmallHeight;
			background: $pColorText;
			&.up{ top: -209px; }
		}
	}
}